#content {
    max-width: 1600px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

.search-image{
    width: 25px;
}

.logo{
    width: 80px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a, nav div{
    padding: 35px;
}
#hero-box{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-img{
    width: 100%;
    grid-column: 1/4;
grid-row: 1/2;  
}


#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.Own-A-Home{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    font-size: 100px;
}

.Home-grid{

}

.special-offer-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    margin: 50px 0;

}

.special-offer-image{
    width: 30%;
    grid-column: 1/4;
    grid-row: 1/2;
}

#special-offer-msg{
    grid-column: 2/3;
    grid-row: 1/2;
}

.special-offer-paragraph{
    grid-column: 2/3;
    grid-row: 2/2;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu when hovering over the container */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Show the dropdown menu when the button is in focus */
  .dropdown:focus-within .dropdown-content {
    display: block;
  }
 .Get-offer{
    width: 50%;
    height: 20%;
    margin: 100px;
}

.Rent-a-house-card{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.Rent-a-house-image{
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/2;
}

.Rent-a-house-msg{
    
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 100px;
    text-align:center;
    font-size: 100px;
}

.Rent-a-house-heading{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.rent-n-sale{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#Rent-in-rexburg{
    grid-column: 1/4 ;
    grid-row: 1/3;
    width: 50%;
}

#Rent-in-rexburg p{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: burlywood;
    padding: 5%;
}

#Houses-for-sale{
    grid-column: 5/8 ;
    grid-row: 1/3;
}

.Houses-for-sale-image img{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
}

.houses-for-sale .Houses-for-sale-image{
    grid-column: 2/4;
    grid-row: 1/4;
}

footer{
    background-color:antiquewhite ;
    color: var(--paragraph-color-on-white);
    font-family: Roboto;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p a:hover{
    text-decoration: underline;
}

footer a{
    color: var(--paragraph-color-on-white);
    text-decoration: none;
}

footer a:hover{
    color: var(--secondary-color);
}

footer .social img{
    padding-top: 15px;
}

.site-plan-image{
    width: 10%;
}


/* Log Cabin CSS */

#log-cabin-box{
    text-align: center;
}
#log-cabin-box img{
    width: 50%;
}

.log-cabin{

}*/
.log-cabin-hero1 {
    position: relative;
    
  }
  .log-cabin-hero1 img {
    width: 100%;
  }
    
  .log-cabin-hero1 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20pt;
  }
  .log-cabin-hero1 img {
    width: 100%;
  }

  .houses01{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
.log-cabin-hero1 img, .log-cabin-hero2 img{
    width: 100%;
}

.log-cabin-hero1 img {
    width: 100vw;
  }
  
.log-cabin-hero1 h1{
    grid-row: 2/2;
}
*/

/* mobilehomes */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}